@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(236,255,0); */
  /* background: linear-gradient(90deg, rgba(236,255,0,1) 0%, rgba(238,128,44,1) 100%); */
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url(https://wapcr.surge.sh/jlmU4WA.jpg); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



